user_uuid="5e426145-7671-4b67-975e-0650fc89f7d7"
bucket_name="u2jgzafe8sljtaz8xx9836aydysgu23s"

index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=2